{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="outer_div">
      <center>
        <h1> Movie Recommendation System</h1>
      </center>
      <div class="form-group shadow-textarea autocomplete" id="autocomplete">
          <input type="text" name="movie" class="form-control autocomplete-input" id="autocomplete-input" autocomplete="off" placeholder="Enter the Movie Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
          <input type="hidden" id="movieID">
          <ul class="autocomplete-result-list"></ul>
      </div>

      <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary btn-block movie-button" id="search_button" disabled="true" >Search</button><br><br>
      </div>
    </div>

  <!-- For loading loader while fetching recommendations -->
  <div id="loading">
  </div>
    <!-- Results fetched from backend will be stored inside this div -->
    <div class="output">
    </div>

    <div id="footer">
        <p><b>Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://github.com/iamsshan" target="_blank"><i class="fa fa-github" style='font-size:30px'></i></a></b> </p>
    </div>
    
  <!-- The script tag is at the bottom of the body so that the page loads the actual content first, and the scripts afterwards. This means that content is visible to users first -->

   <!-- Reference: https://tarekraafat.github.io/autoComplete.js/ -->
  <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <!-- Sweetalert for beautiful alerts -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- Every time when page is refreshed/opened we get all movies from backend so we can create dropdown in frontend -->
  <script type="text/javascript">
    var movies = {{movies |safe}};
  </script>

  <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}